<h2>Your Message</h2>
<hr>
<h4>From: <%= User.find(@message.sender_id).email %></h4>
<p><%= @message.message_content %></p>
<% if @message.application %>
    <!--<%= link_to "Approve Application", property_path(@message.property_id, property: {tenant_id: 12 }), method: "put" %>-->
    <%= form_for(@property, url: property_path(@property)) do |f| %>
        <%= render "devise/shared/error_messages", resource: @property %>

        <div class="field">
            <%= f.hidden_field :tenant_id, value: @message.sender_id %>
            <%= f.hidden_field :available, value: false %>
        </div>

        <div class="actions">
            <%= f.submit "Approve Application" %>
        </div>
    <% end %>
<% end %>
<br />

<%= link_to "Reply", { 
    controller: "messages", 
    action: "new", 
    user_id: current_user.id, 
    recipient_id: @message.sender_id, 
    property_id: @property.id, 
    application: false 
}, method: "get"%>

<hr>
<br />
<%= button_to "Return to Inbox", user_messages_path, method: "get" %>
<%= button_to "Logout", destroy_user_session_path, method: "delete" %>
