<h2>User Dashboard</h2>
<%= button_to "My Profile", user_path(current_user), method: "get" %>
<%= button_to "Browse Properties", properties_path, method: "get" %>
<%= button_to "List Property", new_property_path, method: "get" %>
<%= button_to "My Properties", new_property_path, method: "get" %>
<%= button_to "Logout", destroy_user_session_path, method: "delete" %>