<h2>Available Properties</h2>

<% Property.all.each do |p| %>
    <%= link_to p.address, property_path(p.id) %>
    <br>
    Rooms: <%= p.rooms %> , Bathrooms: <%= p.bathrooms %>
    <br>
    Size: <%= p.squarefeet %>sqft, Rent: <%= p.rent %>
    <br><hr>
<% end %>
<br />
<%= button_to "Return to Dashboard", user_root_path, method: "get" %>
<%= button_to "Logout", destroy_user_session_path, method: "delete" %>