<h2>Property Listing</h2>
<br>
Address: <%= @property.address %><br>
Bedrooms: <%= @property.rooms %><br>
Bathrooms: <%= @property.bathrooms %><br>
Squarefootage: <%= @property.squarefeet %><br>
Rent: <%= @property.rent %><br>
Currently Available: <%= @property.available %><br>
Description: <%= @property.description %><br><br>
<!-- Add conditionally shown buttons to edit the property
if the user viewing the property is also the owner. -->
<% if current_user.id == @property.landlord_id %>
    <%= button_to "Edit", edit_property_path(@property), method: "get" %>
    <%= button_to "Delete", property_path(@property), method: "delete" %>
<% else %>

    <%= link_to "Message Owner", { controller: "messages", action: "new", user_id: current_user.id, recipient_id: @property.landlord_id }, method: "get"%>
    <!--<%= button_to "Apply", property_path(@property), method: "get" %>-->
<% end %>
<br />
<%= button_to "Return to Dashboard", user_root_path, method: "get" %>
<%= button_to "Logout", destroy_user_session_path, method: "delete" %>