<!DOCTYPE html>
<html>
  <head>
    <title>RoomForRent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <!--Flash messages for errors-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %>
    <%= yield %>
  </body>
</html>
